name: FSharpCoreWpfRelease

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
        configuration: Release

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET 5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Setup .NET 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
        
    - name: Restore dependencies
      run: dotnet restore src/CP.FSharp.Core.Wpf.sln
    - name: Build
      run: dotnet build src/CP.FSharp.Core.Wpf.sln --no-restore --configuration=${{ env.configuration }}
    - name: Test
      run: dotnet test src/CP.FSharp.Core.Wpf.sln --no-build --verbosity normal
    - name: Publish
      if: startsWith(github.ref, 'refs/heads/release')
      run: nuget push **\*.nupkg -Source 'https://api.nuget.org/v3/index.json' -ApiKey ${{secrets.NUGET_API_KEY}} -skip-duplicate
